@import url(./__element/cards__element.css);
@import url(./__image/element__image.css);
@import url(./__item/element__item.css);
@import url(./__text/element__text.css);
@import url(./__icon/element__icon.css);

.cards {
  margin-top: 51px;
  display: grid;
  grid-template-columns: repeat(3, 282px);
  grid-template-rows: auto;
  gap: 18px 21px;
}

@media screen and (max-width: 920px) {
  .cards {
    grid-template-columns: repeat(2, 282px);
    justify-content: center;
  }
}

@media screen and (max-width: 620px) {
  .cards {
    grid-template-columns: 282px;
  }
}

