.cards__like {
  background: no-repeat url(../../../images/cards/heart.svg);
  background-size: cover;
  width: 21px;
  height: 18px;
  align-self: center;
  margin: 0 22px 1px 0;
  border: none;
}

.cards__like:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.4s ease-in;
}

.cards__like:focus {
  outline: none;
}

@media screen and (max-width: 380px) {
  .cards__like {
    margin: 0 28px 1px 0;
  }
}