.popup__input_error {
  opacity: 0;
  color: #ff0000;
  font-size: 12px;
  line-height: 15px;
  font-weight: normal;
  position: absolute;
  left: 0;
  top: 30px;
}

.popup__input_error:nth-child(3) {
  margin-bottom: 13px;
}